Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-Migrate==4.0.5
python-dotenv==1.0.1
Werkzeug==3.0.1
sendgrid==6.11.0
WeasyPrint==60.2
bcrypt==4.1.2
pyotp==2.9.0
deap==1.4.1
aco-pants==0.5.2
redis==5.0.1
eventlet==0.35.2
wkhtmltopdf==0.12.6